.mobile-find-parking-container {
  min-height: 100vh;
}
.mobile-find-parking-mobile-find-parking {
  width: 100%;
  height: 844px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(11, 114, 133, 1);
}
.mobile-find-parking-mobile-nav-bar {
  top: 0px;
  left: 0px;
  width: 390px;
  height: 91px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.mobile-find-parking-nav-bounds {
  top: 0px;
  left: 0px;
  width: 390px;
  height: 91px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.mobile-find-parking-nav-bounds1 {
  top: 0px;
  left: 0px;
  width: 390px;
  height: 91px;
  position: absolute;
  border-color: transparent;
}
.mobile-find-parking-group1 {
  top: 61px;
  left: 5.954198360443115px;
  width: 89.31297302246094px;
  height: 30px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(34, 184, 207, 1);
}
.mobile-find-parking-text {
  top: 6.095237731933594px;
  left: 27.7862606048584px;
  color: rgba(255, 255, 255, 1);
  width: 51px;
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mobile-find-parking-group2 {
  top: 61px;
  left: 102.21373748779297px;
  width: 89.31298065185547px;
  height: 30px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(11, 114, 133, 1);
}
.mobile-find-parking-text02 {
  top: 6px;
  left: 2.9771041870117188px;
  color: rgba(242, 242, 242, 1);
  width: 84px;
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mobile-find-parking-group3 {
  top: 61px;
  left: 198.47328186035156px;
  width: 89.31297302246094px;
  height: 30px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(34, 184, 207, 1);
}
.mobile-find-parking-text04 {
  top: 6px;
  left: 12.9007568359375px;
  color: rgba(242, 242, 242, 1);
  width: 76px;
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mobile-find-parking-group4 {
  top: 61px;
  left: 294.7328186035156px;
  width: 89.31298828125px;
  height: 30px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(34, 184, 207, 1);
}
.mobile-find-parking-text06 {
  top: 5px;
  left: 25.801544189453125px;
  color: rgba(242, 242, 242, 1);
  width: 52px;
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mobile-find-parking-car-side-view {
  top: 8px;
  left: 324.5038146972656px;
  width: 57px;
  height: 40px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.mobile-find-parking-ellipse1 {
  top: 26.285715103149414px;
  left: 36.85933303833008px;
  width: 11px;
  height: 11px;
  position: absolute;
  border-color: transparent;
}
.mobile-find-parking-ellipse2 {
  top: 25.714284896850586px;
  left: 7.371866226196289px;
  width: 11px;
  height: 11px;
  position: absolute;
  border-color: transparent;
}
.mobile-find-parking-rectangle2 {
  top: 1.7142857313156128px;
  left: 6.804800033569336px;
  width: 35px;
  height: 23px;
  position: absolute;
  border-color: transparent;
  border-radius: 20px;
}
.mobile-find-parking-car-side-view1 {
  top: 0px;
  left: 0px;
  width: 57px;
  height: 40px;
  position: absolute;
}
.mobile-find-parking-uppercontentbounds {
  top: 108px;
  left: 7px;
  width: 375px;
  height: 724px;
  position: absolute;
  border-color: rgba(34, 184, 207, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 5px 5px 0 0;
}
.mobile-find-parking-mainpagemap {
  top: 164px;
  left: 123px;
  width: 246px;
  height: 250px;
  position: absolute;
  border-color: rgba(11, 114, 133, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
}
.mobile-find-parking-filter-icon {
  top: 118px;
  left: 334px;
  width: 24px;
  height: 29px;
  position: absolute;
}
.mobile-find-parking-findparkingcard1 {
  top: 430px;
  left: 19px;
  width: 265px;
  height: 78px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(194, 199, 205, 1);
}
.mobile-find-parking-text08 {
  top: 19px;
  left: 68px;
  color: rgba(0, 0, 0, 1);
  width: 173px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mobile-find-parking-text13 {
  top: 32px;
  left: 9px;
  color: rgba(0, 0, 0, 1);
  width: 22px;
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mobile-find-parking-text15 {
  top: 36px;
  left: 34px;
  color: rgba(0, 0, 0, 1);
  width: 16px;
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mobile-find-parking-text17 {
  top: 51px;
  left: 68px;
  color: rgba(0, 0, 0, 1);
  width: 189px;
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mobile-find-parking-line2 {
  top: 7px;
  left: 59px;
  width: 65px;
  height: 0px;
  position: absolute;
}
.mobile-find-parking-findparkingcard2 {
  top: 520px;
  left: 18px;
  width: 267px;
  height: 78px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.mobile-find-parking-rectangle13 {
  top: 0px;
  left: 0px;
  width: 265px;
  height: 78px;
  position: absolute;
  border-color: transparent;
  border-radius: 5px;
}
.mobile-find-parking-text19 {
  top: 32px;
  left: 9px;
  color: rgba(0, 0, 0, 1);
  width: 22px;
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mobile-find-parking-text21 {
  top: 36px;
  left: 34px;
  color: rgba(0, 0, 0, 1);
  width: 16px;
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mobile-find-parking-line21 {
  top: 7px;
  left: 59px;
  width: 65px;
  height: 0px;
  position: absolute;
}
.mobile-find-parking-text23 {
  top: 19px;
  left: 68px;
  color: rgba(0, 0, 0, 1);
  width: 154px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mobile-find-parking-text25 {
  top: 46px;
  left: 68px;
  color: rgba(0, 0, 0, 1);
  width: 199px;
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mobile-find-parking-text27 {
  top: 118px;
  left: 18px;
  color: rgba(33, 37, 41, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
